{include file="public/top"}
	  
	  <!-- ======================================================我已赞开始===============================================================-->
      <!--/F_rows-->
      <!--F_cols_main-->
	  
	  <div style="width:950px;height:500px;background:rgba(20,22,111,0.1);">
			<ul id="dzan_list">
				<li class="dzan_user" style="height:50px;width:980;background:pink;padding-left:10px;margin-top:5px;">
					<img src="{$Think.const.APP_INDEX}uploads/pic/11.jpg" width=50px alt="头像" style="float:left;">
					<span style="margin-left:10px;">我已赞了 <a href="">admin</a> 的照片</span>
					
					<img src="{$Think.const.APP_INDEX}uploads/pic/11.jpg" width="40">
				
				</li>
				
				
			</ul>
	  </div>
	  
	  
	  
	  
	  
	 
	
	<!-- ======================================================我已赞结束===============================================================-->
	
{include file="public/footer"}