<!--=====左侧=====-->
    <div id="left" class='fleft'>
        <ul class='left_nav'>
            <li><a href=""><i class='icon icon-home'></i>&nbsp;&nbsp;首页</a></li>
            <li><a href=""><i class='icon icon-at'></i>&nbsp;&nbsp;提到我的</a></li>
            <li><a href=""><i class='icon icon-comment'></i>&nbsp;&nbsp;评论</a></li>
            <li><a href=""><i class='icon icon-letter'></i>&nbsp;&nbsp;私信</a></li>
            <li><a href=""><i class='icon icon-keep'></i>&nbsp;&nbsp;收藏</a></li>
        </ul>

        <div class="group">
            <fieldset><legend>分组</legend></fieldset>
            <ul>
                <li><a href=""><i class='icon icon-group'></i>&nbsp;&nbsp;全部</a></li>
                {foreach $user_group_list as $vo}
                    <li>
                        <a href="" class="fenzu" data="{$vo['id']}"><i class='icon icon-group'></i>&nbsp;&nbsp;{$vo['groupname']}</a>
                    </li>
                    <div class="user_fen_group" data="{$vo['id']}" style="margin-left:35px;display:none;">
                        {foreach $haoyouliebiao as $vvo}
                            {if condition="$vvo['gid']==$vo['id']"}
                                <br><a href="" guanzhuid="{$vvo['id']}" style="color:#888888;font-size:13px;">&nbsp;&nbsp;{$vvo['nickname']}</a><br><br>
                            {/if}
                        {/foreach}
                    </div>
                {/foreach}
            </ul>
            <span id='create_group'>创建新分组</span>
        </div>
    </div>
    
    <!--==========创建分组==========-->
    <div id='add-group' data="{:U('Indexajax/create_group')}" style="z-index:15;">
        <div class="group_head">
            <span class='group_text fleft'>创建好友分组</span>
        </div>
        <div class='group-name'>
            <span>分组名称：</span>
            <input type="text" name='name' id='gp-name'>
        </div>
        <div class='gp-btn-wrap'>
            <span data="{:U('Indexajax/create_group')}" class='add-group-sub'>添加</span>
            <span class='group-cencle'>取消</span>
        </div>
    </div>
    <!--==========创建分组==========-->