{include file="public/topgz"}
   
   <!-- ======================================================我的专辑开始===============================================================-->
   <!--/F_rows-->
   <!--F_main-->
   <div class="F_main">
     <!--创建专辑-->
     <div class="m_browse_menu clearfix" node-type="album_info"><div class="tit M_txta">他的可见专辑列表<span class="M_txtb">(共{$gzphoto_pic_total}个)</span></div><div class="album_count M_txta"><span class="creat">
	 
	 <!--  JS控制添加相册 页面-->
	 <script>
		$(function(){
			//获取创建专辑按钮
			
			$("#createphoto").live('click',function(){
				//alert('sssssss');
				$("div #myalbum").css('display','block');
				$("div #showceng").css('display','block');
				
			
			});
			
			//给添加相册框绑定鼠标移动事件
			$("div #myalbum").mousemove(function(){
				
			});
			
			//获取关闭按钮节点操作
			$("a[action-type='photoclose'").click(function(){
				$("div #myalbum").css('display','none');
				$("div #showceng").css('display','none');
			});
			
			//获取权限单选框的val值
			//$(function(){
			//获取权限单选框中的值
			$("li input[name='quanxian']").click(function(){
				//获取权限的val值
				quanxianval = $(this).val();
				//获取隐藏的图片链接地址
				//photoname = $(this).parent().parent().children('.photoname').html();
				//alert(quanxianval);
				/*if(quanxianval==4){
					//alert('ssssss');
					//$(this).click(function(){
						$("#myphotoul .huidawenti").css('display','block');
					//});
					
				}else{
					$("#myphotoul .huidawenti").css('display','none');
				}*/
			});
			//});
			
			
			//获取添加
			
			$("a[action-type='photoadd']").click(function(){
				//获取相册名称值
				var ptitle = $("input[name='ptitle']").val();
				//获取相册描述
				var pcontent = $("textarea[name='pcontent']").val();
				//获取问题值
				//var  question = $("input[name='question']").val();
				//获取问题答案值
				//var answer = $("input[name='answer']").val();
				
				
				//获取权限按钮
				//var quanxian = $("td input[name='quanxian']");
				//alert(quanxianval);
				//var i = quanxian.index();
				//alert(i);
				//quanxianval = quanxian.eq(i).val();
				//var quanxianval = "";
				//alert(quanxianval);
				
				//给单选按钮遍历点击事件
				//quanxian.click(function(){
				//	quanxianval1 = $(this).val();
				//	quanxianval = quanxianval1;
				//	alert(quanxianval);
				//});
				//alert(photoname);
				//执行ajax操作
				$.ajax({
					url:"{:U('Photo/insert')}",
					type:'post',
					data:{title:ptitle,content:pcontent,status:quanxianval},
					dataType:'json',
					async:true,
					success:function(res){
						//alert('添加成功');
						$("div #myalbum").css('display','none');
						$("div #showceng").css('display','none');
						//$("#wb_photo").load("index.html");
						
						for(var i=0;i<res.length;i++){
							//alert(res[i]['title'])
						
						
						//alert(res['title']);
						//拼接添加相册字串
						var str = "<li action-data='aid=3423857315111989&property=1'>";
	
						str += "<div class='m_fav_album'>";
						str += "<div class='m_cover m_cover_c'>";
						str += "<div class='img_wrap'>";
						str += "<a title='在线相册' href='' undefined=''>";
						str += "<img width='150' height='150' class='img' src='{$Think.const.APP_INDEX}uploads/pic/default.png'>";
						str += "<span class='count'>2 张</span>";
						str += "</a></div></div>";
						str += "<div class='detail'>";
						str += "<p class='title'>";
						str += "<a class='M_linkb' href='' undefined=''>";
						str += "<strong title='"+res[i]['title']+"'>"+res[i]['title']+"</strong>";
						str += "</a></p>";
						str += "<p class='status M_txtb'>";
						str += "<span title='所有人可见' class='M_ico '></span>";
						str += "<span class='M_txtb time'>"+res[i]['addtime']+"</span></p>";
						//str += "</p><p class='edit M_txtd'></p></div></div></li>";
						
						str += "图片描述:<span class='description'>"+pcontent+"</span>";
						
						str += "<p class='edit M_txtd'>";
						str +=	"<a href='javascript:void(0);' action-type='album_edit'>编辑</a>"
						str +=	"<span class='M_vline'></span>";
						str +=	"<a href='javascript:void(0)' action-type='album_del' action-data='album_id=3454582265827570'>删除</a></p>"
						str += "</div></div></li>";
						
						//在div内部插入一条语句
						$("div #photolist_ul").append(str);
						
						//$("#wb_photo").load("#wb_photo");
						alert('添加成功');
						
						}
					},
					error:function(){
						alert('添加失败！');
					}
				});
				
			});
		
		});
	 
	 </script>
	 
	<!-- <span class="M_btn_c" id="createphoto" action-type="album_add">创建专辑</span> -->
	<p class="photoname" style="display:none;">{$Think.const.APP_INDEX}uploads/pic/default.png</p>
	 
	 <!-- </span><span class="sequence"><a class="M_btn_c" href="http://photo.weibo.com/2664098951/albums/album_sort">专辑排序</a></span> --></div></div>
      <!--/创建专辑-->
     <!--用户专辑列表-->
	 
	 <!--  JS控制添加相册 页面-->
	 <!--添加相册专辑 开始处 -->
	 
	 <div class="L_layer" node-type="outer" style="position: absolute; z-index: 100100; visibility: visible; top: 369px; left: 413px;display:none;" id="myalbum" stk-mask-key="145698623223612">
		<div class="bg">
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td>
							<div class="content" node-type="layoutContent">
								<div node-type="title" class="title" style="cursor: move;">
									<span node-type="title_content">新建专辑(相册)</span>
								</div>
								<a node-type="close" action-type="close" title="关闭" href="javascript:void(0)" class="close"></a>
								<div node-type="inner">
									<div class="L_editalbum">
										<form name="albumForm" node-type="album_form">
											<div class="m_ly_tip" node-type="error_tip" style="display:none"></div>
												<div class="album_info">
													<dl class="m_Layform clearfix">
														<dt>专辑(相册)名称：</dt>
														<dd class="contBox">
															<input type="text" name="ptitle" class="M_inpt" node-type="ptitle" value="">
														</dd>
														<dd class="tipBox">
															<span class="M_txte" node-type="caption_w">15字以内</span>
														</dd>
													</dl>
													<dl class="m_Layform clearfix">
														<dt>专辑描述：</dt>
														<dd class="contBox">
															<textarea name="pcontent" title="讲讲你和照片的故事...（非必填）" class="M_txtarea" node-type="pcontent"></textarea>
														</dd>
														<dd class="tipBox">
															<span class="M_txte" node-type="description_w">140字以内</span>
														</dd>
													</dl>
												</div>
												<div class="authority">
												    <dl class="set_authort clearfix">
														<dt>设置权限：</dt>
														<dd class="M_txtb">
															<p>谁可以看到这个专辑？</p>
															<ul class="userlist">
																<li>
																	<input type="radio" value="1" class="M_radio" id="all" name="quanxian" action-type="change_permission">
																	<label for="all">所有人</label>
																</li>
																<li>
																	<input type="radio" value="2" class="M_radio" id="each_o" name="quanxian" action-type="change_permission">
																	<label for="each_o">仅自己</label>
																</li>
																<li>
																	<input type="radio" value="3" class="M_radio" id="self" name="quanxian" action-type="change_permission">
																	<label for="self">仅好友</label>
																</li>
																<!-- <li>
																	<input type="radio" value="5" class="M_radio" id="ask" name="quanxian" action-type="change_permission">
																	<label for="ask">问题访问</label>
																</li> -->
															</ul>
															<input type="hidden" name="album_id" value="3454582265827570">
														</dd>
													</dl>
													<div class="ask_q" node-type="ask_layer" style="display:none">
														<dl class="m_Layform clearfix">
															<dt>问题：</dt>
															<dd class="contBox"><input type="text" name="question" value="" class="M_inpt" node-type="question"></dd>
															<dd class="tipBox"><span class="M_txte" node-type="question_w">20/20</span></dd>
														</dl>
														<dl class="m_Layform clearfix">
															<dt>答案：</dt>
															<dd class="contBox"><input type="text" name="answer" value="" class="M_inpt" node-type="answer"></dd>
															<dd class="tipBox"><span class="M_txte" node-type="answer_w">20/20</span></dd>
														</dl>
													</div>
												</div>
												<div class="save_cal">
													<a href="javascript:void(0);" action-type="photoadd" class="M_btn_e">
														<span>保存</span>
													</a>
													<a href="javascript:void(0);" action-type="photoclose" class="M_btn_e">
														<span>取消</span>
													</a>
												</div>
										</form>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	 
	 <!--页面class="myphoto"  的dt的js控制-->
		<script>
			$(function(){
				$('.myphoto').mouseover(function(){
					$(this).css('border','1px solid #56A1DB');
					$(this).css('background','#FAFAFA');
				});
				$('.myphoto').mouseout(function(){
					$(this).css('border','none');
					$(this).css('background','#fff');
				});
			
			
				//获取收藏按钮 并绑定点击事件
				$("a[action-type='album_shoucang']").click(function(){
					//获取相册id
					photoid = $(this).parent().parent().children('.photoid').html();
					//获取相册标题
					title = $(this).parent().parent().children().children().children('.phototitle').html();
					//获取相册用户puid
					puid = $(this).parent().parent().children('.puid').html();
					//alert(puid);
					
					//执行ajax传值
					$.ajax({
						url:"{:U('Photo/photoshoucang')}",
						type:"post",
						data:{photoid:photoid,puid:puid,title:title},//参数
						dataType:"html", //返回的数据类型
						async:true, //是否异步
						success:function(res){
							if(res){
								//$(".picdzancount").html(Math.abs(picdzancount));
								alert("已经收藏过该相册专辑");
							}else{
								//$(".picdzancount").html(Math.abs(picdzancount)+1);
								//window.location.href="{:U('Picgz/picshow')}?picid="+pid+"&uid="+puid+"&photoid="+photoid;
								alert('收藏到我的收藏专辑中');
							}
						   //spanid.html(8);
						   
						},
						error:function(){
							alert("失败！");
						}
					});
					
					
				});
			});
		</script>
	 
	 
      <div id="wb_photo" class="m_user_albumlist" node-type="album_list">
		<ul id="photolist_ul" class="albumlists clearfix">
			{foreach $gzphoto_list as $key=>$vo}
			<li action-data="aid=3423857315111989&amp;property=1">
				<div class="m_fav_album">
					<div class="m_cover m_cover_c">
						<div class="img_wrap myphoto">
							<a title="{$vo['title']}" href="{:U('Picgz/photopic')}?photoid={$vo['id']}&uid={$vo['uid']}" undefined="">
								<img width="150" class="img" src="{$Think.const.APP_INDEX}uploads/pic/{$vo['photoname']}">
								<span class="count" style="font-weight:bold;font-size:15px;color:red;">共{$picnum[$key]}张</span>
							</a>
						</div>
					</div>
					<div class="detail">
						<p class="title">
							<a class="M_linkb" href="{:U('Pic/photopicshow')}?photoid={$vo['id']}&uid={$vo['uid']}" undefined="">
								<strong class="phototitle" title="{$vo['title']}">{$vo['title']}</strong>
							</a>
						</p>
						<p class="status M_txtb">
							<span title="所有人可见" class="M_ico "></span>
							<span class="M_txtb time">{$vo['addtime']|date="Y-m-d",###}</span>
							
						</p>
						<p class="photoid" style="display:none;">{$vo['id']}</p>
						<p class="puid" style="display:none;">{$vo['uid']}</p>
						<p class="photostatus" style="display:none;">{$vo['status']}</p>
						
						图片描述:
						<span class="description">{$vo['content']}</span>
						
						<p class="edit M_txtd">
							<a href="javascript:void(0);" action-type="album_shoucang">收藏专辑</a>
							<!-- <a href="{:U('Photo/del')}?id={$vo['id']}&uid={$vo['uid']}" action-type="album_del" action-data="album_id=3454582265827570">删除</a> -->
						</p>
						
					</div>
				</div>
			</li>
			{/foreach}
			
			<!--<li action-data="aid=3560110618585734&amp;property=1">
				<div class="m_fav_album">
					<div class="m_cover m_cover_c">
						<div class="img_wrap">
							<a title="微博配图" href="http://photo.weibo.com/2664098951/talbum/index" undefined="">
								<img width="150" height="150" class="img" src="{$Think.const.APP_INDEX}common/index/9ecaec87jw1e7mje43lwtj208c05kdfy.jpg">
								<span class="count">52 张</span>
							</a>
						</div>
					</div>
					<div class="detail">
						<p class="title">
							<a class="M_linkb" href="http://photo.weibo.com/2664098951/talbum/index" undefined="">
								<strong title="微博配图">微博配图</strong>
							</a>
						</p>
						<p class="status M_txtb">
							<span title="所有人可见" class="M_ico "></span>
							<span class="M_txtb time">更新于2013-08-14</span>
						</p>
						<p class="edit M_txtd"></p>
					</div>
				</div>
			</li>-->
		</ul>
		<div style="text-align:center;font-size:18px;">{$photopageshow}</div>
	</div>
	<!--======================================-->
      <!--/用户专辑列表-->
      <!--翻页-->
      <div class="m_pages" node-type="album_page"></div>
      <!--/翻页-->
   </div>
   <!--/F_main-->
   
   <!--点击286编辑 按钮弹出编辑框 ,修改图片描述信息-->
	 <script>
		$(function(){
			//点击编辑标签，让编辑框显示出来
			$("a[action-type='album_edit'").click(function(){
				$(".L_layer").css('display','block');
				//获取相册id
				photoid = $(this).parent().parent().children('.photoid').html();
				//获取相册标题
				phototitle = $(this).parent().parent().children().children().children('.phototitle').html();
				//获取相册标题节点
				titlewz = $(this).parent().parent().children().children().children('.phototitle');
				//获取相册描述节点
				description = $(this).parent().parent().children('.description');
				//获取相册描述
				photocontent = description.html();
				//获取当前权限值
				photostatus = $(this).parent().parent().children('.photostatus').html();
				
				
				//alert(photostatus);
				//将相册标题传给显示的表单中
				$("input[name='title']").val(phototitle);
				//将相册描述传给显示的表单中
				$("textarea[name='description']").html(photocontent);
				//将获取的状态值传给显示的表单中 
				$("input[value="+photostatus+"]").attr('checked','checked');
				
				
			});
			
			
			//获取取消按钮 让编辑框隐藏起来
			$("a[action-type='close']").click(function(){
				$(".L_layer").css('display','none');
				
			});
			
			//获取显示修改框中的单选框中的val值
			$("input[name='property']").click(function(){
				//获取用户权限的状态
				status = $(this).val();
			});
			
			
			//获去编辑框中的保存按钮添加点击事件，并发送ajax
			
			$("a[action-type='save']").click(function(){
				//获取修改的相册标题
				var title = $("input[node-type='title']").val();
				//获取修改后的相册描述内容
				var descrip = $("textarea[name='description']").val();
				
				//alert(status);
				//获取发布相册用户的用户uid
				uid = $(".puid").html();
				//alert(uid);
				//执行ajax
				$.ajax({
					url:"{:U('Photo/update')}",
					type:"post",
					data:{id:photoid,uid:uid,content:descrip,title:title,status:status},//参数
					dataType:"html", //返回的数据类型
					async:true, //是否异步
					success:function(){
						//编辑框关闭
						$(".L_layer").css('display','none');
						titlewz.html(title);
						description.html(descrip);
						alert("编辑成功！");
					   //spanid.html(8);
					   
					},
					error:function(){
						alert("删除失败！");
					}
				});
				
				
			});
			
		});
	 </script>
   
   
   
   <!--相册编辑框 开始处 文件286行编辑按钮-->
	
	<div class="L_layer" node-type="outer" style="position: absolute; z-index: 100100; visibility: visible; top: 369px; left: 413px;display:none;" id="layer_145698623223611" stk-mask-key="145698623223612">
		<div class="bg">
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td>
							<div class="content" node-type="layoutContent">
								<div node-type="title" class="title" style="cursor: move;">
									<span node-type="title_content">编辑专辑(相册)</span>
								</div>
								<a node-type="close" action-type="close" title="关闭" href="javascript:void(0)" class="close"></a>
								<div node-type="inner">
									<div class="L_editalbum">
										<form name="albumForm" node-type="album_form">
											<div class="m_ly_tip" node-type="error_tip" style="display:none"></div>
												<div class="album_info">
													<dl class="m_Layform clearfix">
														<dt>专辑(相册)名称：</dt>
														<dd class="contBox">
															<input type="text" name="title" class="M_inpt" node-type="title" value="">
														</dd>
														<dd class="tipBox">
															<span class="M_txte" node-type="caption_w">15字以内</span>
														</dd>
													</dl>
													<dl class="m_Layform clearfix">
														<dt>专辑描述：</dt>
														<dd class="contBox">
															<textarea name="description" title="讲讲你和照片的故事...（非必填）" class="M_txtarea" node-type="description"></textarea>
														</dd>
														<dd class="tipBox">
															<span class="M_txte" node-type="description_w">140字以内</span>
														</dd>
													</dl>
												</div>
												<div class="authority">
												    <dl class="set_authort clearfix">
														<dt>设置权限：</dt>
														<dd class="M_txtb">
															<p>谁可以看到这个专辑？</p>
															<ul class="userlist">
																<li>
																	<input type="radio" value="1" class="M_radio" id="all" checked="" name="property" action-type="change_permission">
																	<label for="all">所有人</label>
																</li>
																<li>
																	<input type="radio" value="2" class="M_radio" id="each_o" name="property" action-type="change_permission">
																	<label for="each_o">仅自己</label>
																</li>
																<li>
																	<input type="radio" value="3" class="M_radio" id="self" name="property" action-type="change_permission">
																	<label for="self">仅好友</label>
																</li>
																<!-- <li>
																	<input type="radio" value="5" class="M_radio" id="ask" name="property" action-type="change_permission">
																	<label for="ask">问题访问</label>
																</li> -->
															</ul>
															<input type="hidden" name="album_id" value="3454582265827570">
														</dd>
													</dl>
													<div class="ask_q" node-type="ask_layer" style="display:none">
														<dl class="m_Layform clearfix">
															<dt>问题：</dt>
															<dd class="contBox"><input type="text" name="question" value="" class="M_inpt" node-type="question"></dd>
															<dd class="tipBox"><span class="M_txte" node-type="question_w">20/20</span></dd>
														</dl>
														<dl class="m_Layform clearfix">
															<dt>答案：</dt>
															<dd class="contBox"><input type="text" name="answer" value="" class="M_inpt" node-type="answer"></dd>
															<dd class="tipBox"><span class="M_txte" node-type="answer_w">20/20</span></dd>
														</dl>
													</div>
												</div>
												<div class="save_cal">
													<a href="javascript:void(0);" action-type="save" class="M_btn_e">
														<span>保存</span>
													</a>
													<a href="#" action-type="close" class="M_btn_e">
														<span>取消</span>
													</a>
												</div>
										</form>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--相册编辑框 结束处 文件286行编辑按钮-->

<!-- ======================================================我的专辑结束===============================================================-->
{include file="public/footergz"}