{include file="public/topgz"}
	  
	  <!-- ======================================================我已赞开始===============================================================-->
      <!--/F_rows-->
      <!--F_cols_main-->
	  
	  <!--鼠标移动上去 头像的放大到100px 移出恢复到原来大小-->
	  <script>
		  $(function(){
			  //获取用户头像的节点 并绑定移入事件
			  $(".dzan_user .userimage").mouseover(function(){
				  //$(this).css('z-index','22');
				 //$(".userimage .pic").css('width','100px');
				  
			  });
			  //获取用户头像的节点 并绑定移出事件
			  $(".dzan_user .userimage").mouseout(function(){
				  //$(".userimage .pic").css('width','50px');
			  });
			  
			  
			  //===================================================
			  //控制收藏的照片和收藏的专辑按钮 并选择各自的div显示并展示出来
				//获取收藏的照片 按钮
				$("a[action-type='pic_shoucang']").click(function(){
					//收藏图片的div显示
					$(".Fic_main").css("display","block");
					//收藏相册的div隐藏
					$(".Fhoto_main").css("display","none");
					//共计几张图片显示
					$("span[node-type='pic_info']").css("display","block");
					//共计几张专辑隐藏
					$("span[node-type='photo_info']").css("display","none");
					
				});
				
				//获取收藏的专辑 按钮
				$("a[action-type='photo_shoucang']").click(function(){
					//收藏图片的div隐藏
					$(".Fic_main").css("display","none");
					//收藏相册的div显示
					$(".Fhoto_main").css("display","block");
					//共计几张图片隐藏
					$("span[node-type='pic_info']").css("display","none");
					//共计几张专辑显示
					$("span[node-type='photo_info']").css("display","block");
				});
			  
			  
		  });
	  </script>
	  
	   <div style="width:950px;">
			<div class="m_menutab M_linkc clearfix">
				<ul class="tab" node-type="inner_nav">
					<li class="it"><a href="javascript:void(0);" action-type="pic_shoucang">收藏的照片</a></li>                       
					<li class="it"><a href="javascript:void(0);" action-type="photo_shoucang">收藏的专辑</a></li>
				</ul>
				<span class="count M_txta" node-type="pic_info" style="display:block;">共{$shoucang_count}张照片</span>
				<span class="count M_txta" node-type="photo_info" style="display:none;">共{$photoshoucang_count}张专辑</span>
			</div>
			<div style="width:100%;height:20px;"></div>
			
			<div class="Fic_main">
				<!--用户专辑列表-->
				<div class="m_user_photolist" node-type="photo_list" >
					<ul class="user_photolist clearfix" >
						{foreach $res as $key=>$vo}
						<li style="float:left;width:237px;height:282px;">
							<dl class="m_fav_pic">
								<dt class="photo">
									<a title="" href="{:U('Picgz/picshow')}?picid={$vo['picid']}&photoid={$vo['photoid']}&uid={$vo['puid']}">
										<img class="img" title="收藏图片" alt="收藏图片" src="{$Think.const.APP_INDEX}uploads/pic/{$vo['picname']}" width="200" height="200">
									</a>
								</dt>
								<dd>
									<p class="title">所在专辑 
										<a class="M_linkb" href="{:U('Picgz/photopic')}?uid={$vo['puid']}&photoid={$vo['photoid']}">
											<strong title="{$vo['username']}">{$vo['title']}</strong>
										</a>
									</p>
									<p class="status M_txtb">来自：
										<a href="{:U('Picgz/index')}?uid={$vo['puid']}" title="{$vo['username']}">{$vo['username']}</a>
									</p>
									<!-- <p class="edit M_txtd">
										<a href="#" action-data="target_id=3781636289355776&amp;type=2" action-type="cancel_favorite">取消收藏</a>
									</p> -->
								</dd>
							</dl>
						</li>
						{/foreach}
					</ul>
					<div style="text-align:center;font-size:15px;">{$listpage}</div>
				</div>
				
			
				
				<!--/用户专辑列表-->
				<!--翻页-->
				<div class="m_pages" node-type="photo_page"></div>
				<!--/翻页-->
			 </div>
			
			
			
			<!--用户收藏的相册信息列表开始处-->
			<div class="Fhoto_main" style="display:none;">
				<!--用户专辑列表-->
				<div class="m_user_photolist" node-type="photo_list" >
					<ul class="user_photolist clearfix" >
						{foreach $photocanglist as $key=>$vt}
						<li style="float:left;width:237px;height:282px;">
							<dl class="m_fav_pic">
								<dt class="photo">
									<a title="" href="{:U('Picgz/photopic')}?uid={$vt['puid']}&photoid={$vt['photoid']}">
										<img class="img" title="收藏图片" alt="收藏图片" src="{$Think.const.APP_INDEX}uploads/pic/{$vt['photoname']}" width="200" height="200">
									</a>
								</dt>
								<dd>
									<p class="title">所在专辑 
										<a class="M_linkb" href="{:U('Picgz/photopic')}?uid={$vt['puid']}&photoid={$vt['photoid']}">
											<strong title="{$vt['username']}">{$vt['title']}</strong>
										</a>
									</p>
									<p class="status M_txtb">来自：
										<a href="{:U('Picgz/index')}?uid={$vt['puid']}">{$vt['username']}</a>
									</p>
									<p class="photoid" style="display:none;">{$vt['photoid']}</p>
									<!-- <p class="edit M_txtd">
										<a href="javascript:void(0);" action-data="" action-type="cancel_photofavorite">取消收藏</a>
									</p> -->
								</dd>
							</dl>
						</li>
						{/foreach}
					</ul>
					<div style="text-align:center;font-size:15px;">{$listpage1}</div>
				</div>
				
			
				
				<!--/用户专辑列表-->
				<!--翻页-->
				<div class="m_pages" node-type="photo_page"></div>
				<!--/翻页-->
			</div>
			<!--用户收藏的相册信息列表结束处-->
			
			
			
	  </div>
	  
	 
	  
	 
	
	<!-- ======================================================我已赞结束===============================================================-->
	
{include file="public/footergz"}