.gaoji{
	width:300px;
	height:200px;
	background:white;
	position:absolute;
	left:800px;
	top:40px;
	display:none;
}
.gj_close{
	position:absolute;
	left:1100px;
	top:40px;
	display:none;
}
.big{
	width:1365px;
	height:642px;
	position:absolute;
	left:0px;
	top:0px;
	background:black;
	opacity:0.2;
	display:none;
}
.gj_top{
	float:left;
	width:78px;
	padding:10px;
	//border:1px red solid;

}
